body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("bg.jpg");
}
.box{
    width: 400px;
    position: relative;
    position: relative;
    top: 100px;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 40px;
    color: pink;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 7px #000000;

}
.box .inputs{
    position: relative;
}
.box .inputs input{
    width: 100%;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background: transparent;
    transition: 300ms;
}
.box .inputs label{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 500ms ease-out ;
    border: none;
}
.box .inputs input:focus ~ label, 
.box .inputs input:valid ~ label  {
    top: -15px;
    font-size: 12px;
    color:red;
    border: none;
}
.box .inputs input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid red;
}
fieldset{
    color: #ffffff;
}
.submit{
    margin-top: 10px;
    background: #d2369d;
    border: 2px solid #2c2b2b78;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
}